<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty, the Internet's premier source for quotes from Christopher Nolan's blockbuster 2014 movie <i>Interstellar</i>, was developed by <i>Interstellar's</i> number <i>something</i> fan, <a href="http://github.com/jonathanpike">Jonathan Pike</a>.
	</p>
  <br />
  <p>
    As a tribute to <i>Interstellar</i>, you can find all of Jonathan's favourite quotes here, in all of their glory.  Re-live the best scenes from the movie, and then go watch it for the <i>n</i>th time. 
  </p>
	<br class="clear" />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'jonathan.jpg', :class => 'img-responsive' %>
	</div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jonathan Pike</h2>
    <br />
    <p>
      Jonathan is a web developer at heart and is working to be employed as one, as well. He believes we can build a better world through code. Today was another day in paradise.
    </p>
  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />