<h2>
  <span>SPLURTY / No. <%= link_to @quote.unique_tag, quote_path(@quote.id) %></span>
  Only the best <i>Interstellar</i> quotes live here!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right"><%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />